@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600&family=Poppins:wght@400;700&family=Roboto:wght@500;700&display=swap');

:root{

    --white: #FFFFFF;
    --smoke: #F4F4F4;
    --lightGray: #D9D9D9;
    --darkGray: #707070;
    --black: #181818;
    --orange: #FF860D;

    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

    --fontLand1: 'Big Shoulders Display', sans-serif;
    --sizeLand1: clamp(1rem, calc(.8rem + 1.5vw) ,1.5rem);
    --weightLand1: 600;

    --fontLand2: 'Big Shoulders Display', sans-serif;
    --sizeLand2: clamp(5rem, calc(4rem + 1.5vw) ,7.5rem);
    --weightLand2: 600;

    --fontLand3: 'Big Shoulders Display', sans-serif;
    --sizeLand3: 1.5rem;
    --weightLand3: 400;

    --fontP1: 'Poppins', sans-serif;
    --sizeP1: .9rem;
    --weightP1: 400;

    --fontP2:'Poppins', sans-serif;
    --sizeP2: .7rem;
    --weightP2: 400;

    --fontP3:'Poppins', sans-serif;
    --sizeP3: 0.8rem;
    --weightP3: 500;

    --fontP4: 'Roboto', sans-serif;
    --sizeP4: 1.2rem;
    --weightP4: 400;

    --fontH1: 'Roboto', sans-serif;
    --sizeH1: clamp(1.75rem, calc(1rem + 3vw), 2.25rem);
    --weightH1: 700;

    --fontH2: 'Roboto', sans-serif;
    --sizeH2: clamp(.7rem, calc(.7rem + 2vw), 1.5rem);
    /* --sizeH2:1.5rem; */
    --weightH2: 500;

    --fontH3: 'Roboto', sans-serif;
    --sizeH3: 1rem;
    --weightH3: 700;

    --fontH4: 'Roboto', sans-serif;
    --sizeH4: 1.1rem;
    --weightH4: 700;

    --fontH5: 'Roboto', sans-serif;
    --sizeH5: 2.5rem;
    --weightH5: 700;
    
    --fontSP: 'Roboto', sans-serif;
    --sizeSP: 4rem;
    --weightSP: 700;

    --fontBtn: 'Poppins', sans-serif;
    --sizeBtn: 1rem;
    --weightBtn: 600;

    

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
